### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
UniquePlayers = purchase_data["SN"].value_counts()
UniquePlayersdf = pd.DataFrame(UniquePlayers)
Totalplayers = UniquePlayersdf["SN"].count()
playercount = pd.DataFrame({"Total Players":Totalplayers},index=[0])
playercount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
uniqueitems = purchase_data["Item Name"].value_counts()
uniqueitems.count()

179

In [5]:
averageprice = purchase_data["Price"].mean()
averageprice

3.050987179487176

In [6]:
totalpurchases = purchase_data["Purchase ID"].count()
totalpurchases

780

In [143]:
totalrevenue = purchase_data["Price"].sum()
totalrevenue

In [8]:
purchasinganalysis = {"Number of Unique Items": uniqueitems.count(),
      "Average Price": averageprice,
      "Number of Purchases":totalpurchases,
      "Total Revenue": totalrevenue}
purchasinganalysisdf = pd.DataFrame(purchasinganalysis,index=[0])
purchasinganalysisdf["Average Price"] = purchasinganalysisdf["Average Price"].map("${:.2f}".format)
purchasinganalysisdf["Total Revenue"] = purchasinganalysisdf["Total Revenue"].map("${:.2f}".format)
purchasinganalysisdf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

In [9]:
playergender = purchase_data["Gender"].value_counts()
playergender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
maledata = purchase_data.loc[(purchase_data["Gender"] == "Male"),:]
maleplayers = maledata["SN"].value_counts()
maleplayers.count()

484

In [11]:
maleplayerpercent = (maleplayers.count() / Totalplayers) * 100 
maleplayerpercent

84.02777777777779

In [12]:
femaledata = purchase_data.loc[(purchase_data["Gender"] == "Female"),:]
femaleplayers = femaledata["SN"].value_counts()
femaleplayers.count()

81

In [13]:
femaleplayerpercent = (femaleplayers.count() / Totalplayers) * 100 
femaleplayerpercent

14.0625

In [14]:
otherdata = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed"),:]
otherplayers = otherdata["SN"].value_counts()
otherplayers.count()

11

In [15]:
otherplayerpercent = (otherplayers.count() / Totalplayers) * 100 
otherplayerpercent

1.9097222222222223

In [16]:
genderdemographics = {"Player Gender" : ["Male","Female","Other / Non-Disclosed"],
                      "Total Count" : [maleplayers.count(),femaleplayers.count(),otherplayers.count()],
                      "Percentage of Players":[maleplayerpercent,femaleplayerpercent,otherplayerpercent]
    
}
genderanalysisdf = pd.DataFrame(genderdemographics).set_index("Player Gender")
genderanalysisdf["Percentage of Players"] = genderanalysisdf["Percentage of Players"].map("{:.2f}%".format)
genderanalysisdf

                       Total Count Percentage of Players
Player Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
groupedpurchase_data = purchase_data.groupby("Gender")
genderpurchasecount = groupedpurchase_data["Purchase ID"].count()
genderavgpurchaseprice = groupedpurchase_data["Price"].mean()
gendersumpurchaseprice = groupedpurchase_data["Price"].sum()

female = (gendersumpurchaseprice["Female"] / femaleplayers.count())
male = (gendersumpurchaseprice["Male"] / maleplayers.count())
other = (gendersumpurchaseprice["Other / Non-Disclosed"] / otherplayers.count())

avgtotalperperson = [female,male,other]

purchaseanalysisdf = pd.DataFrame({"Purchase Count":genderpurchasecount,"Average Purchase Price":genderavgpurchaseprice,"Total Purchase Value":gendersumpurchaseprice,"Avg Total Purchase Per Person":avgtotalperperson})
purchaseanalysisdf["Average Purchase Price"] = purchaseanalysisdf["Average Purchase Price"].map("${:.2f}".format)
purchaseanalysisdf["Total Purchase Value"] = purchaseanalysisdf["Total Purchase Value"].map("${:.2f}".format)
purchaseanalysisdf["Avg Total Purchase Per Person"] = purchaseanalysisdf["Avg Total Purchase Per Person"].map("${:.2f}".format)
purchaseanalysisdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [89]:
bins = [0,max(purchase_data["Age"])-36,max(purchase_data["Age"])-30,max(purchase_data["Age"])-25,max(purchase_data["Age"])-20,max(purchase_data["Age"])-15,max(purchase_data["Age"])-10,max(purchase_data["Age"])-5,max(purchase_data["Age"]),max(purchase_data["Age"])+5]
binlabels = ["<10","10-15","16-20","21-25","26-30","31-35","36-40","41-45","46+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=binlabels)
print(bins)
print(binlabels)
age = purchase_data.set_index("Age Group")
groupedage = age.groupby(["Age Group"]).count()
groupedage["SN"].value_counts()

groupcount = age_datagrouped["SN"].nunique()
playerpercent = [(x/playercount["Total Players"][0])*100 for x in groupcount]

agedemographics = {"Total Count":groupcount,"Percentage of Players":playerpercent}
agedemographicsdf = pd.DataFrame(agedemographics)
agedemographicsdf["Percentage of Players"] = agedemographicsdf["Percentage of Players"].map("{:.2f}%".format)
agedemographicsdf

[0, 9, 15, 20, 25, 30, 35, 40, 45, 50]
['<10', '10-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46+']

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-15               48                 8.33%
16-20              150                26.04%
21-25              232                40.28%
26-30               59                10.24%
31-35               37                 6.42%
36-40               26                 4.51%
41-45                7                 1.22%
46+                  0                 0.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
age_datagrouped = purchase_data.groupby("Age Group")
agepurchasecount = age_datagrouped["Purchase ID"].count()
ageavgpurchaseprice = age_datagrouped["Price"].mean()
agesumpurchaseprice = age_datagrouped["Price"].sum()
avgperson = agesumpurchaseprice / groupcount


agedemographicsdf = pd.DataFrame({"Purchase Count":agepurchasecount,"Average Purchase Price":ageavgpurchaseprice,"Total Purchase Value":agesumpurchaseprice,"Average Per Person":avgperson})
agedemographicsdf["Average Purchase Price"] = agedemographicsdf["Average Purchase Price"].map("${:.2f}".format)
agedemographicsdf["Total Purchase Value"] = agedemographicsdf["Total Purchase Value"].map("${:.2f}".format)
agedemographicsdf["Average Per Person"] = agedemographicsdf["Average Per Person"].map("${:.2f}".format)
agedemographicsdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-15,63,$2.99,$188.43,$3.93
16-20,200,$3.11,$621.56,$4.14
21-25,325,$3.02,$981.64,$4.23
26-30,77,$2.88,$221.42,$3.75
31-35,52,$2.99,$155.71,$4.21
36-40,33,$3.40,$112.35,$4.32
41-45,7,$3.08,$21.53,$3.08
46+,0,$nan,$0.00,$nan

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
spenders = purchase_data.groupby("SN")
topspenders = spenders["Price"].sum().sort_values(ascending=False).head()

spendercount = purchase_data.groupby("SN")["Purchase ID"].count().sort_values(ascending=False)

Lisosia93 = spendercount.loc["Lisosia93"]
Idastidru52 = spendercount.loc["Idastidru52"]
Chamjask73 = spendercount.loc["Chamjask73"]
Iral74 = spendercount.loc["Iral74"]
Iskadarya95 = spendercount.loc["Iskadarya95"]
Purchasecount = [Lisosia93,Idastidru52,Chamjask73,Iral74,Iskadarya95]


def average(num1,num2):
    return num2/num1

topspendersdf = pd.DataFrame({"Purchase Count":Purchasecount,"Price":topspenders})

firstaverage = average(Purchasecount[0],topspendersdf.iloc[0,1])
secondaverage = average(Purchasecount[1],topspendersdf.iloc[1,1])
thirdaverage = average(Purchasecount[2],topspendersdf.iloc[2,1])
fourthaverage = average(Purchasecount[3],topspendersdf.iloc[3,1])
fifthaverage = average(Purchasecount[4],topspendersdf.iloc[4,1])

Avgpurchaseprice = [firstaverage,secondaverage,thirdaverage,fourthaverage,fifthaverage]

topspendersdf2 = pd.DataFrame({"Purchase Count":Purchasecount,"Average Purchase Price":Avgpurchaseprice,"Price":topspenders})
topspendersdf2["Average Purchase Price"] = topspendersdf2["Average Purchase Price"].map("${:.2f}".format)
topspendersdf2["Price"] = topspendersdf2["Price"].map("${:.2f}".format)

topspendersdf2

             Purchase Count Average Purchase Price   Price
SN
Lisosia93                 5                  $3.79  $18.96
Idastidru52               4                  $3.86  $15.45
Chamjask73                3                  $4.61  $13.83
Iral74                    4                  $3.40  $13.62
Iskadarya95               3                  $4.37  $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
popularitems = purchase_data[["Item ID","Item Name","Price"]]
groupedpopularitems = popularitems.groupby(["Item ID","Item Name"])

purchasecount = groupedpopularitems["Price"].count()
totalpurchase = groupedpopularitems["Price"].sum()
uniqueprice = groupedpopularitems["Price"].unique()

popularitemsdf = pd.DataFrame({"Purchase Count":purchasecount,"Item Price":[x[0] for x in uniqueprice],"Total Purchase Value":totalpurchase})
sortedpopularitems = popularitemsdf.sort_values(by=["Purchase Count"], ascending=False)
sortedpopularitems["Item Price"] = sortedpopularitems["Item Price"].map("${:.2f}".format)
sortedpopularitems["Total Purchase Value"] = sortedpopularitems["Total Purchase Value"].map("${:.2f}".format)
sortedpopularitems.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [142]:
sortedpopularitems2 = popularitemsdf.sort_values(by=["Total Purchase Value"], ascending=False)
sortedpopularitems2["Item Price"] = sortedpopularitems2["Item Price"].map("${:.2f}".format)
sortedpopularitems2["Total Purchase Value"] = sortedpopularitems2["Total Purchase Value"].map("${:.2f}".format)
sortedpopularitems2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80